.container-header-home {

    position: absolute;
    left: 22rem;
    top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 83.25rem;

}

.container-inside {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.userNavbar__tabIcon {
    height: 30px;
    width: 30px;
}

.userNavbar__tabIcon:hover {
    cursor: pointer;
    filter: opacity(0.7);
}

.arrow-left {
    height: 14px;
    width: 14px;
}

.admin {
    color: var(--gray);
    font-size: 1.2rem;
}

.dashboard {
    color: var(--black);
    font-size: 1.2rem;

}