<div class="orderModal">
  <div class="orderModal__content">
    <h2 class="orderModal__title">Descrição</h2>
    <p class="orderModal__description">{{ descricaoEquipamento }}</p>

    <div class="orderModal__table">
      <h3 class="orderModal__subtitle">Detalhes do pedido</h3>
      <div class="orderModal__tableRown">
        <p class="orderModal__label">Item:</p>
        <p class="orderModal__value">{{ descricaoProblema }}</p>
      </div>
       <div class="orderModal__tableRown">
        <p class="orderModal__label">Data/Hora:</p>
        <p class="orderModal__value"> {{ dtHrCriacao | date: 'dd/MM/yyyy, HH:mm' }}</p>
      </div>
      <div class="orderModal__tableRown">
        <p class="orderModal__label">Responsável pelo serviço:</p>
        <p class="orderModal__value"> {{ funcionario || "Aguardando responsável" }}
        </p>
      </div>
      <div class="orderModal__tableRown">
        <p class="orderModal__label">Valor:</p>
        <p class="orderModal__value">{{ "R$ " + valorOrcamento || 'Aguardando orçamento' }}</p>
      </div>
    </div>

    <div class="orderModal__progress">
      <h3 class="orderModal__subtitle">Progresso do pedido</h3>
      <div class="orderModal__statusFlow">
        <ng-container *ngFor="let log of historicoMovimentacao">
          <div class="orderModal__historic">
            <span [class]="getStatusClass(log.estadoMovimentacao)">{{ log.estadoMovimentacao }}</span>
            <p>{{ log.dtHrMovimentacao| date: 'dd/MM/yyyy, HH:mm' }}</p>
          </div>
        </ng-container>
      </div> 
    </div>

     <div class="orderModal__actions">
      <button class="orderModal__closeButton" (click)="close.emit()">Fechar</button>
      <button *ngIf="order?.estadoAtual === 'orçada'" (click)="aprovarPedido()">Aprovar</button>
      <button *ngIf="order?.estadoAtual === 'orçada'" (click)="rejeitarPedido()">Rejeitar</button>
      <button *ngIf="order?.estadoAtual === 'rejeitada'" (click)="resgatarPedido()">Resgatar</button>
      <button *ngIf="order?.estadoAtual === 'aguardando pagamento'" (click)="pagarPedido()">Pagar</button>
    </div>
  </div>
