<div class="adminBudgetForm">
  <div class="adminBudgetForm__header">
    <h1 class="adminBudgetForm__title">Orçamentos solicitados</h1>
  </div>

  <form class="adminBudgetForm__form">
    <div class="adminBudgetForm__formGroup">
      <label for="client-name" class="adminBudgetForm__label">Nome do Cliente</label>
      <input id="client-name" class="adminBudgetForm__input" [(ngModel)]="clientName" name="clientName" disabled />
    </div>

    <div class="adminBudgetForm__formGroup">
      <label for="descricao-equipamento" class="adminBudgetForm__label">Descrição do equipamento</label>
      <textarea id="descricao-equipamento" class="adminBudgetForm__textarea" rows="4" [(ngModel)]="descricaoEquipamento"
        name="descricaoEquipamento" disabled></textarea>
    </div>

    <div class="adminBudgetForm__formGroup">
      <label for="categoria-equipamento" class="adminBudgetForm__label">Categoria do equipamento</label>
      <input id="client-name" class="adminBudgetForm__input" [(ngModel)]="categoriaEquipamento" name="clientName" disabled />
    </div>

    <div class="adminBudgetForm__formGroup">
      <label for="descricao-defeito" class="adminBudgetForm__label">Descrição do defeito</label>
      <textarea id="descricao-defeito" class="adminBudgetForm__textarea" rows="4" [(ngModel)]="descricaoDefeito"
        name="descricaoDefeito" disabled></textarea>
    </div>

    <div class="adminBudgetForm__formGroup">
      <label for="responsavel" class="adminBudgetForm__label">Responsável pelo serviço</label>
      <select id="responsavel" class="adminBudgetForm__select" [(ngModel)]="responsavelSelecionado"
        name="responsavelSelecionado">
        <option value="" disabled selected>Selecione um responsável</option>
        <option *ngFor="let responsavel of responsaveis" [value]="responsavel">{{ responsavel }}</option>
      </select>
    </div>

    <div class="adminBudgetForm__formGroup" id="teste">
      <label for="valor-orcamento" class="adminBudgetForm__label">Valor do orçamento</label>
      <input id="valor-orcamento" type="number" min="0" placeholder="R$" class="adminBudgetForm__input"
        [(ngModel)]="valorOrcamento" name="valorOrcamento" [disabled]="estadoAtual !== 'aberta'" />
    </div>

    <button type="button" class="adminBudgetForm__submitButton" (click)="salvarOrcamento()" [disabled]="estadoAtual !== 'aberta'" >
      Salvar orçamento
    </button>    

    <button type="button" class="adminBudgetForm__submitButton" (click)="finalizarSolicitacao()" *ngIf="estadoAtual === 'paga'" >
      Finalizar solicitação
    </button>    
  </form>

   <!-- Seção de Histórico do Pedido -->
   <div class="adminBudgetForm__progress">
    <h2 class="adminBudgetForm__subtitle">Progresso do pedido</h2>
    <div class="adminBudgetForm__statusFlow">
      <ng-container *ngFor="let log of historicoMovimentacao">
        <div class="adminBudgetForm__historic">
          <span [ngClass]="getStatusClass(log.estadoMovimentacao)">{{ log.estadoMovimentacao }}</span>
          <p>{{ log.dtHrMovimentacao | date: 'dd/MM/yyyy, HH:mm' }}</p>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Efetuar manutenção -->
  <div class="adminBudgetForm__form" *ngIf="estadoAtual === 'aprovada'">
    <h2 class="adminBudgetForm__subtitle">Efetuar manutenção</h2>
    <label for="descricaoManutencao" class="adminBudgetForm__label">Descrição da manutenção</label>
    <textarea id="descricaoManutencao" class="adminBudgetForm__textarea" rows="4" [(ngModel)]="descricaoManutencao"
      name="descricaoManutencao"></textarea>
    <label for="orientacaoCliente" class="adminBudgetForm__label">Orientação ao cliente</label>
      <textarea id="orientacaoCliente" class="adminBudgetForm__textarea" rows="4" [(ngModel)]="orientacaoCliente"
        name="orientacaoCliente"></textarea>
    <button type="button" class="adminBudgetForm__submitButton" (click)="efetuarManutencao()">
          Efetuar manutenção
    </button>    
  </div>

</div>
