<div class="receitasTable">
  <div class="receitasTable__header">
    <h1 class="receitasTable__title">Receitas</h1>
  </div>
  
  <!-- Botões para gerar PDFs -->
  <div class="receitasTable__buttonsContainer">
    <button class="receitasTable__generatePdfButton" (click)="gerarPDFReceitasPorCategoria()">
      Gerar PDF - Receitas por Categoria
    </button>
    <button class="receitasTable__generatePdfButton" (click)="gerarPDFReceitasPorPeriodo()">
      Gerar PDF - Receitas por Data
    </button>
  </div>
</div>