<div class="ordersTable" *ngIf="!!orders">
  <div class="ordersTable__header">
    <h1 class="ordersTable__title">Pedidos</h1>
  </div>
  <table class="ordersTable__container">
    <thead class="ordersTable__tableHeader">
      <tr>
        <th>Item</th>
        <th>Data/Hora</th>
        <th>Valor</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="ordersTable__tableBody">
      <tr  *ngFor="let item of orders">
        <td>{{ item.descricaoEquipamento }}</td>
        <td>{{ item.dtHrCriacao | date: 'dd/MM/yyyy, HH:mm' }}</td>
        <td>
          {{ item?.orcamento?.valorOrcamento != null ? ('R$ ' + item?.orcamento?.valorOrcamento) : 'Aguardando' }}
        </td>
        <td>{{ item.estadoAtual }}</td>
        <td>
          <button class="ordersTable__buttonOrder" (click)="openOrderModal(item)">
            <img src="/assets/eye.svg" alt="Ver Detalhes">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-order-modal *ngIf="selectedOrder" [order]="selectedOrder" (close)="closeOrderModal()">
</app-order-modal>
