:root {
    --black: #000;
    --white: #fff;

    --gray: #5c5f6a;
    --dark-gray: #0e1422;
    --light-gray: #9d9d9d;
    --medium-gray: #474B57;
    --opacity-gray: rgb(164,164,164,0.2);
    --brown: #937676;
    --red: #ad0000;
    --yellow: #aaad00;
    --purple: #7600ad;
    --blue: #1800ad;
    --orange: #ad7d00;
    --green: #37ad00;
}