<form #formLogin="ngForm">
  <div class="emailContainer">
    <label for="usuario">Email</label>
    <input type="text" id="usuario" name="usuario" [(ngModel)]="login.login" #usuario="ngModel" 
    placeholder="example@gmail.com" autocomplete="email" required>
    <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
      <div [hidden]="!usuario.errors['required']"> 
          Digite o usuário
      </div>
    </div>
  </div>

  <div class="passwordContainer">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="login.senha" #senha="ngModel"  
    placeholder="XXXXXXXXX" required="">
    <div *ngIf="senha.errors && (senha.dirty || senha.touched)">
      <div [hidden]="!senha.errors['required']"> 
          Digite a senha.
      </div>
    </div>
  </div>

  <button class="loginButton" type="submit" [disabled]="!formLogin.form.valid"
   (click)="logar()">Login</button>

  <a class="registerUser" [routerLink]="['/cadastro']">Cadastrar Novo Usuário</a>
</form>
