<form [formGroup]="loginForm">
  <div class="emailContainer">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email" placeholder="example@gmail.com" autocomplete="email">
    <p *ngIf="loginForm.get('email')?.errors">
      Digite um e-mail válido
    </p>
  </div>

  <div class="passwordContainer">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" formControlName="password" placeholder="XXXXXXXXX">
    <p *ngIf="loginForm.get('password')?.errors">
      Digite uma senha válida
    </p>
  </div>

  <button class="loginButton" type="submit" [disabled]="loginForm.invalid" (click)="submitForm()">Login</button>

  <a class="registerUser" href="/cadastro">Cadastrar Novo Usuário</a>
</form>
